

*{

    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header{
    background: #F8F4EA;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 150px;
    padding-right: 150px;
}
.logo{
    text-decoration: none;
    color:#579BB1 ;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.5em;

}
.footer{
    text-align: center;
    min-height: 5vh;
    margin-top: 10px;
    background-color:#F8F4EA;
    color:#579BB1 ;
}

.navi a{
  color:#579BB1;
  text-decoration: none;
  font-size: 1em;
  font-weight:600 ;
  padding-left: 20px;
}
.navi a:hover{
    color: blueviolet;
}

section{
    padding-top:100px ;
    padding-bottom: 100px;
    padding-left: 200px;
    padding-right: 200px;
}
.main{
    width: 100%;
    min-height: 50vh;
    display: flex;
    align-items: center;
    background-color:#579BB1;
   background-attachment: fixed;
}
.main h2{
    text-align: center;
    margin-bottom: 20px;
    font-weight: 600;
    color: #E1D7C6;
    font-size: 2.1em;
}

.main p{
    font-weight: 300;
    text-align: center;
    margin-bottom: 5px;
    color:#E1D7C6 ;
}


.main .d0{
    text-align: center;
    width: 45%;
    margin-right: 80px;
    margin-left: 240px;
    
}
.icons {
   text-align: left;
    padding-top:10px ;
    padding-bottom: 10px;
    padding-left: 35px;
    padding-right:35px ;
    color:#E1D7C6 ;
}

.contact{
    width: 100%;
    min-height: 50vh;
    background-color: #579BB1;
   background-attachment: fixed;
  
}
.contact .d3{
    margin-top: 60px;
    margin-bottom: 50px;
}
.contact h10{
    font-weight: 1000;
   
    color:#E1D7C6 ;
    font-size: 2.5em;
   
}
.about{

    background-color:#F8F4EA;
    min-height: 50vh;
    width: 100%;
    background-attachment: fixed;
}

.about .d1{
    float: left;
    width: 45%;
    text-align: left;
    
}

.about .d2{
    float: left;
    width: 45%;
    margin-right: 50px;
    color:#579BB1 ;
}

.about .d1 .d11{
    width: 95%;
    margin-top: 30px;
    margin-left: 70px;
    color:#579BB1 ;
}
.about .d2 .lead{
margin-top: 30px;
margin-right: 100px;
color:#579BB1 ;
}
.about h8{
    font-weight: 1000;
     margin-left: 70px;

    color:#579BB1 ;
}
